# Environment variables
.env
.env*.local
*.env
apps/api/src/.env
apps/web/src/.env
apps/api/src/data/

# Dependencies
node_modules/
apps/web/node_modules/
apps/api/node_modules/


# Markdown & Documentation files
ARCHITECTURE.md
DECISIONS.md
DESIGN.md
MEMORY.md
PRD.md
PRICING.md
RULES.md
SECURITY.md
TASKS.md
TEST_PLAN.md
TODO.md
*.md
!README.md
!apps/**/README.md
!packages/**/README.md
